<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0yzc6QwJ4xLNJ1HYPJu082t14GTjQDL4</string>
	<key>GCM_SENDER_ID</key>
	<string>314804749406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gnuboard-react-native</string>
	<key>PROJECT_ID</key>
	<string>gnuboard-3bcaa</string>
	<key>STORAGE_BUCKET</key>
	<string>gnuboard-3bcaa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314804749406:ios:ed8c96a576a7baf7cce0cf</string>
</dict>
</plist>